# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# MacOS spesific files
.DS_Store
src/.DS_Store

# Enviroment variables
.env
.runtimeconfig.json

firebase-debug.log